/* BUTTON COLOR CHANGES */
.upcoming-event a:link, .upcoming-event a:visited {
  color: #B34040;
  font-weight: bolder;
}
.upcoming-event-button-layout {
  margin-top: 32px;
  padding: 16px 0;
}
.upcoming-event .img_friday13_2019_tour {
  float: right;
  max-width: 300px;
  margin-top: 16px;
  margin-left: 16px;
}

.control-buttons button, .control-buttons button:hover, .control-buttons button a, .control-buttons button a:hover{
  color: #B34040;
  font-weight: bolder;
}