// BUTTONS
.control-buttons {
  color: $light-red;
  font-weight: bolder;
}
.control-buttons button:hover, .control-buttons button a, .control-buttons button a:hover{
  color: $light-red;
  font-weight: bolder;
}