blockquote.news-1 {
  line-height: $m-plus-size;
}

.more-info p.address {  
  font-style: italic;
  border-bottom: 1px solid $white;
}

.more-info p .hell-money {
  font-weight: bold;
  color: $light-red;
}