header {
  background-color: #060a08;
  margin-bottom: 48px;
  margin-top: 16px;
  text-align: center;
}

header a {
  color: #888888;
  font-size: 1.2em;
  margin-right: 48px;
  text-decoration: none;
}