.header {
  background-color: $black;
  margin: $m-size 0 $xl-size 0;
  text-align: center;
}

.header__links {
  color: $grey;
  display: flex;
  flex-direction: row;
  font-size: $s-size;
  justify-content: space-evenly;
  text-decoration: none;
}