.header {
  background: url(/img/798_building.png) black;
  border-bottom: 1px solid $grey;
  height: 20rem;
  margin: $m-size 0 $xl-size 0;
  text-align: center;
}
.is-active {
  font-weight: 1000;
}
.header__links {
  color: $grey;
  display: flex;
  flex-direction: row;
  font-size: $m-plus-size;
  justify-content: space-evenly;
  margin: $l-size 0;
  text-decoration: none;
  text-shadow: 1px 1px 1px $black;
}
@media (min-width: 45rem) {
  .header__links {
    margin-top: $xxxl-size;
    font-size: $l-size;
  }
}