.more-info {
  border: 3px solid $grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $s-size;
  padding: $m-size;
}
.more-info__header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: $s-size;
}
.more-info__title {
  color: $white;
  font-weight: bold;
  margin: 0 auto;
  padding: $s-size;
  text-shadow: 2px 2px 2px $red;
}
.more-info__subtitle {
  border-top: 1px solid $grey;
  padding-top: $s-size;
}
.more-info__detail-section {
  border-top: 1px solid $grey;
  margin: 0 $s-size $s-size $s-size;
  padding: $s-size 0 0 0;
}
.more-info__buttons {
  display: flex;
  justify-content: space-evenly;
  margin: $s-size;
}
@media (min-width: 45rem) {
  .more-info {
    align-items: flex-start;
    flex-direction: column;
  }
  .more-info__image {
    max-width: 45rem;
  }
  .more-info__title {
    margin: $s-size;
    padding: 0;
  }
}
