.news-page {
  border: 3px solid $grey;
  margin: $s-size;
  padding: $m-size;
}
.news-page__autograph {
  margin-top: $s-size;
}
.news-page__buttons {
  margin: $s-size;
}
.news-page__message {
  padding: $m-size;
}