.page-not-found {
  border: 3px solid $grey;
  display: flex;
  flex-direction: column;
  margin: $s-size;
  padding: $m-size;
  text-align: center;
}
.page-not-found__headlines {
  border-bottom: 1px solid $grey;
  margin-bottom: $s-size;
}
.page-not-found__button {
  margin-top: $s-size;
}