.page-not-found {
  border: 3px solid $grey;
  display: flex;
  flex-direction: column;
  margin: $s-size;
  padding: $m-size;
  text-align: center;
}
.page-not-found__buttons {
  border-top: 1px solid $grey;
  margin-top: $s-size;
  padding-top: $m-size;
}