.upcoming-event {
  border: 3px solid $grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $s-size;
  padding: $m-size;
}
.upcoming-event__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.upcoming-event__title {
  color: $white;
  font-weight: bold;
  margin: 0 auto;
  padding: $s-size;
  text-shadow: 2px 2px 2px $red;
}
.upcoming-event__image {
  margin: $s-size;
  max-width: 30rem;
  width: 100%;
}
.upcoming-event__abstract {
  margin: $s-size;
}
.upcoming-event__abstract__directions {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: $s-size 0 $s-size 0;
}
.upcoming-event__abstract__details {
  padding: $s-size 0 0 0;
}
.upcoming-event__buttons {
  display: flex;
  justify-content: space-evenly;
  margin: $s-size;
}
@media (min-width: 45rem) {
  .upcoming-event {
    align-items: flex-start;
    flex-direction: column;
  }
  .upcoming-event__header {
    margin: 0 auto;
  }
  .upcoming-event__image {
    margin-bottom: $l-size;
    max-width: 45rem;
    
  }
  .upcoming-event__title {
    font-size: $l-size;
    margin: $s-size;
    padding: 0;
  }
}