body {
  /* style */
  background-color: #060a08;
  color: #eeeeee;
  font-size: 1.2em;
  /* font-family: 'Futura', Arial, sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 300;
  /* position */
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
}
a, a:link, a:visited {
  color: #888888;
}
a:hover {
  color: #eeeeee;
}

.main-content {
  /* flexbox */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

.upcoming-event {
  border: 3px solid #888888;
  margin: 24px;
  padding: 24px;
}

/* BUTTON COLOR CHANGES */
.upcoming-event a:link, .upcoming-event a:visited {
  color: #B34040;
  font-weight: bolder;
}
.upcoming-event-button-layout {
  margin-top: 32px;
  padding: 16px 0;
}
.upcoming-event .img_friday13_2019_tour {
  float: right;
  max-width: 300px;
  margin-top: 16px;
  margin-left: 16px;
}

.control-buttons button, .control-buttons button:hover, .control-buttons button a, .control-buttons button a:hover{
  color: #B34040;
  font-weight: bolder;
}

h1 {
  /* position */
  /* margin-bottom: 16px; */
  /* style */
  /* letter-spacing: 10px; */
  font-family: 'Creepster', cursive;
  color: #610303;
  text-shadow: 2px 2px 2px #eeeeee;
  /* font-size: 4em; */
}

h2 {
  /* position */
  margin-bottom: 16px;
  text-align: center;
  /* style  */
  font-family: 'Creepster', cursive;
  font-size: 2em;
  letter-spacing: 10px;
  color: #610303;
  text-shadow: 2px 2px 2px #eeeeee;
}

h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

h3.title {
  color: #eeeeee;
  text-shadow: 3px 3px 3px #610303;
}

header {
  /* style */
  background-color: #060a08;
  text-align: center;
  /* position */
  margin-top: 16px;
  margin-bottom: 48px;
}

.jumbotron {
  background: url(/img/798_building.png) #242525;
  /* background: transparent; */
}

header nav {
  border-top: 1px solid #888888;
}

header a {
  font-size: 1.2em;
  color: #888888;
  margin-right: 48px;
  text-decoration: none;
}

blockquote.news-1 {
  line-height: 1.8em;
}

.more-info p.address {  
  font-style: italic;
  border-bottom: 1px solid #eeeeee;
}

.more-info p .hell-money {
  font-weight: bold;
  color: #B34040;
}

footer {
  /* position */
  border-top: 1px solid #888888;
  margin-top: 16px;
  padding: 16px 0px;
  text-align: center;
  /* style */
  color: #888888;
  /* background-color: #151d19; */
  background-color: #121C00;
}