html {
  font-size: 62.5%;
}

body {
  background-color: $black;
  color: $white;
  font-family: 'Titillium Web', sans-serif;
  font-size: $m-size;
  font-weight: 300;
  margin: 0 auto;
  max-width: 65rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  padding: 0 $m-size;
}

// LINKS
a, a:link, a:hover, a:visited {
  text-decoration: none;
}
a, a:link, a:visited {
  color: $white;
}
a:hover {
  color: $white;
}

// HEADERS
h1 {
  color: $red;
  font-family: 'Creepster', cursive;
  font-size: $xxl-size;
  text-shadow: 2px 2px 2px $white;
}
h2 {
  color: $red;
  font-family: 'Creepster', cursive;
  font-size: $l-size;
  letter-spacing: 10px;
  margin-bottom: $m-size;
  text-align: center;
  text-shadow: 2px 2px 2px $white;
}
h3 {
  margin: $m-size 0 $m-size 0;
}

