// COLORS
$black: #060a08;
$green: #121C00;
$grey: #888888;
$light-red: #B34040;
$red: #610303;
$white: #eeeeee;

// SIZES
$s-size: 1.2rem;
$m-size: 1.6rem;
$m-plus-size: 1.8rem;
$m-plus-plus-size: 2.5rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7rem;

// UNIFORM
.emphasizer {
  color: $light-red;
  font-weight: 1000;
}